

{% extends "TelmaDashboardBundle::layout.html.twig" %}

{% set page = "reports" %}

{% block title %}
Reports - {{ parent() }}
{% endblock %}

{% block telmadashboard_header %}
{{ parent() }} - Reports

<form method="get" action="{{ path('telma_dashboard_reports') }}">
	<select name="reference">
		{% for reference in arrayReferences %}
			<option value = {{ reference }}> {{ reference }} </option>
		{% endfor %}
	</select>

	<select name="region">
		{% for region in arrayRegions %}
			<option value = {{ region }} > {{ region }} </option>
		{% endfor %}
	</select>

	<select name="column">
		{% for column in arrayColumn %}
			<option value = {{ column }} > {{ column }} </option>
		{% endfor %}
	</select>

	<button type="submit" value="View" class="btn btn-default">View</button>
</form>
{% endblock %}

{% block telmadashboard_body %}
<div id="chart">
  <p>Variations on Greeting the World</p>

  <canvas id="canvas" width="1000" height="800">
    No Love for HTML5 eh?
  </canvas>
</div>

{% block telmadashboard_reports_chart %}

{% endblock %}

{% if datas is defined %}
<input type="hidden" id="entete" value="{% for head,data in datas %}{{ head }}{% endfor %}"></input>

<input type="hidden" id="datas" value="{% for data in datas %}{{ data }}{% endfor %}"></input>
{% endif %}


{% endblock %} 